*.class

# Package Files #
*.jar
*.war
*.ear
/wfm/.settings
/wfm/.project
/wfm/tree-tag/.settings
/wfm/tree-tag/target
/wfm/tree-tag/.classpath
/wfm/tree-tag/.project
/wfm/webapp/.settings
/wfm/webapp/target
/wfm/webapp/.classpath
/wfm/webapp/.project
/wfm/walker-tag/.settings
/wfm/walker-tag/target
/wfm/walker-tag/.classpath
/wfm/walker-tag/.project
/wfm/walker-api/.settings
/wfm/walker-api/target
/wfm/walker-api/.classpath
/wfm/walker-api/.project
/wfm/file-walker/.settings
/wfm/file-walker/target
/wfm/file-walker/.classpath
/wfm/file-walker/.project
