div.wfm ul {
    padding: 0;
    margin: 0 0 10px 25px;
}

div.wfm li {
    list-style-type: none;
    line-height: 20px;
}

div.wfm a.wfm-expand {
    background: url('../img/expand_plus.gif') no-repeat;
}

div.wfm a.wfm-unexpand {
    background: url('../img/expand_minus.gif') no-repeat;
}

div.wfm .wfm-file {
    margin-left: 20px;
}

div.wfm li a, div.wfm li span {
    padding-left: 20px;
}

div.wfm li span {
    background: url('../img/file.png') no-repeat;
}

div.wfm li span.folder {
    background: url('../img/folder.png') no-repeat;
}

div.wfm li span.zip,
div.wfm li span.rar {
    background: url('../img/archive.png') no-repeat;
}

div.wfm li span.wfm-png,
div.wfm li span.wfm-jpg,
div.wfm li span.wfm-bmp,
div.wfm li span.wfm-gif {
    background: url('../img/image.png') no-repeat;
}